include head
body
  include nav
  h1 Contact Us!
  p Thanks for getting in touch
  p= 'You contacted ' + data.who + ' in the ' + data.department + ' department.'
  p= 'We will reply to you at ' + data.email