doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title nodejs-mongodb-exercises
    style.
      body {
        background: #eee;
      }
      h1 {
        color: #666;
        font-size: 5rem;
      }